<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/webjars/bootstrap/4.3.1/css/bootstrap.min.css">

    <!-- Styles -->
<!--    <link href="css/main.css" rel="stylesheet" type="text/css">-->

    <title>Jokes</title>
</head>
<body>
    <div class="mt-5 mb-5">
        <a href="/saved" >View Saved Jokes</a>
    </div>

    <div th:if="${joke.type == 'twopart'}">
        <span th:text="${joke.setup}"></span>
        <br>
        <span th:text="${joke.delivery}"></span>

    </div>

    <div th:unless="${joke.type == 'twopart'}">
        <span th:text="${joke.joke}"></span>
    </div>



    <button class="btn btn-success"  th:attr="onclick='${saveJoke}'">Save Joke</button>

<script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>